{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %} {% block home-inner %} {% endblock home-inner %}
<div class="container">
    <div class="row text-center">
        <div class="mx-auto bg-white p-5 mt-5 mb-5">
            <form class="form-signin" class="form-label-group" action="" method="post">{% csrf_token %} {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                <div>
                    <h5 class="mr-3 ml-3">Need help with your password? </h5>
                    <p>Enter the email you used to register to create a new password.</p>
                </div>
                <p>Enter Your Email:{{ form.email }}</p>
                <input type="submit" class='btn c-btn2' value="Reset password" />
            </form>
        </div>
    </div>
</div>

{% endblock %}