{% extends "base.html" %} {% load static %} {% load i18n %} {% block display %}{% endblock %} {% block content %} {% block home-inner %} {% endblock home-inner %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <iframe id="inscore-xdc-794082" src="http://www.livescore.in/free/794082/" width="624" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>{% endblock %}