{% load el_pagination_tags %} {% load markdown_deux_tags %} {% if comments %} {% paginate comments %}{% for comment in comments%}
<div class="comment-post">
    <article itemscope>
        <header itemprop="name">
            <div class="mx-auto">
                <div>
                    <span class="h6 text-muted" itemprop="author">{{ comment.user_name }}</span>
                    <span itemprop="datePublished" class="text-muted pl-3">
						On
						<time itemprop="dateCreated" datetime="{{ comment.post_date|date:'Y-m-d H:i:s' }}">
							{{ comment.post_date }}
						</time>
					</span>
                </div>
            </div>
        </header>
        <div>
            <p class="text-justified" itemprop="articleBody">{{ comment.bodytext|markdown }}</p>
        </div>
    </article>
    <hr>
</div>
{% endfor %} {% show_more "Load more comments" %} {% else %}
<p>There's no comments...</p>
{% endif %}